@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  background-color: #F2F2F2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.site__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: auto;
  padding: 0;
  align-items: center;
  list-style-type: none;
  max-width: 200px;
}


.page__body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  width: 1200px;
  margin: 0 auto;
}


.visually__hidden {
  display: none;
  margin: 0;
}


.main__navigation {
  display: flex;
}

.logo {
  margin-bottom: -9px;
  margin-right: 30px;
}

.site__navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 500px;
}

.navigation__link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
}


.navigation__link:hover,
.navigation__link:focus-visible {
  opacity: 60%;
}

.current {
  cursor: default;
}

.current:hover {
  opacity: 100%;
}

.navigation__link-current::after {
  position: absolute;
  content: "";
  bottom: -1px;
  left: 16px;
  right: 16px;
  height: 2px;
  background-color: #756257;
}

.item__button {
  min-width: 44px;
  min-height: 64px;
  padding: 22px 12px;
}

.navigatiom__search:hover,
.navigation__search:focus-visible {
  opacity: 60%;
}

.navigation__likes {
  position: relative;
}

.navigation__likes:hover,
.navigation__likes:focus-visible {
  opacity: 60%;
}

.count__likes {
  position: absolute;
  top: 10px;
  left: 20px;
  padding: 5px;
  background-color: #7DB54F;
  border-radius: 50%;
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
}

.navigation__button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-left: 20px;
  padding: 8px 34px;
  align-self: center;
  border-radius: 4px;
  background-color: #756157;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  max-width: 200px;
}

.navigation__button:hover,
.navigation__button:focus-visible {
  background-color: #57473f;
  outline: none;
}

.navigation__button:active {
  background-color: #57473f;
  opacity: 60%;
}

.navigation__button:disabled {
  background-color: #a8a6a6;
  opacity: 60%;
}

.welcome {
  display: flex;
  justify-content: center;
  padding-top: 51px;
  padding-bottom: 82px;
  background-color: #769ec2;
  background-image: url(../images/divider.svg), url(../images/main-page/slogan/welcome-background.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom 0 center, center center;
  flex-wrap: wrap;
  background-size: contain, cover;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 261px;
}

.subtitle__sedona {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.reasons {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.advantages {
  display: flex;
  padding-top: 21px;
}

.advantages__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}


.advantages__item {
  min-height: 385px;
}

.advantages__item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.2);
  min-height: 385px;
}

.advantages__item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}



.advantages__item:first-child {
  background-color: #82B3D3;
  color: #FFFFFF;
  display: flex;
}


.advantages__item:last-child {
  background-color: #82B3D3;
  color: #FFFFFF;
  display: flex;
}

.advantages__text-wrapper {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.advantages__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 62px;
  position: relative;
  padding-top: 10px;
}

.advantages__subtitle::after {
  position: absolute;
  bottom: -30px;
  left: 50%;
  content: "";
  width: 60px;
  height: 2px;
  transform: translateX(-50%);
  background-color: currentColor;
  opacity: 0.3;
}


.advantages__title {
  margin: 0;
  padding-bottom: 10px;
}

.benefits__title {
  padding: 65px 348px;
}

.benefits__tagline {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.bnft__text {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.benefits__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.benefits__item {
  padding: 180px 85px 80px 85px;
  flex: 1;
  background-image: url(../images/main-page/advantages/food.svg);
  background-repeat: no-repeat;
  background-position: center 80px;
}

.benefits__item:first-child {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url(../images/main-page/advantages/house.svg);
  background-repeat: no-repeat;
  background-position: center 80px;
}

.benefits__item:last-child {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url(../images/main-page/advantages/souvenirs.svg);
  background-repeat: no-repeat;
  background-position: center 80px;
}

.bnft__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.benefit__about {
  margin: 0;
}

.booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 96px 34px;

}

.booking__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.search__title {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
}

.search__link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 50px;
  border-radius: 4px;
  max-width: 376px;

}


.search__link:hover,
.search__link:focus-visible {
  background-color: #57473f;
  outline: none;

}

.search__link:active {
  background-color: #57473f;
  opacity: 60%;
}

.search__link:disabled {
  background-color: #a8a6a6;
  opacity: 60%;
}

.subscribe {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  background-image: url(../images/subscription.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 96px 258px 104px 258px;
}

.subscribe__inner {
  font-size: 22px;
  line-height: 26px;
  color: black;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 96px 258px 104px 258px;

}



.subscribe__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.subscription__form {
  display: flex;
  justify-content: center;
  line-height: 24px;
}

.subscription__text {
  margin: 0;
  margin-bottom: 54px;
}

.subscription__window {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 24px;
  min-width: 452px;
  min-height: 52px;
  border-radius: 4px 0 0 4px;
  border: none;
  padding-left: 20px;
  background-color: #F2F2F2;
}

.subscription__window:active,
.subscription__window:hover,
.subscription__window:focus {
  outline: none;
}

.subscription__button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
  min-width: 232px;
  border-radius: 0 4px 4px 0;
  border: none;
  cursor: pointer;
  max-width: 232px;
  text-wrap: wrap;

}

.subscription__button:hover,
.subscription__button:focus-visible {
  background-color: #69a1c6;
  outline: none;
}

.subscription__button:active {
  background-color: #82B3D3;
  opacity: 60%;
}

.subscription__button:disabled {
  background-color: #89adc5;
  opacity: 60%;
}

::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 24px;
}

::-moz-placeholder {
  font-size: 18px;
  line-height: 24px;
}

:-ms-input-placeholder {
  font-size: 18px;
  line-height: 24px;
}

::-ms-input-placeholder {
  font-size: 18px;
  line-height: 24px;
}

::placeholder {
  font-size: 18px;
  line-height: 24px;
}

.footer {
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 30px;
}

.social__contacts {
  display: flex;
  flex-basis: 150px;
}

.social__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-basis: 150px;
}

.social__link {
  display: flex;
  width: 47px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.social__link:-webkit-any-link:focus-visible {
  color: #2a5e80;
  outline: none;
}

.social__color:hover,
.social__color:focus-visible {
  fill: #5a95bc;
}

.social__color:active {
  color: #82B3D3;
  opacity: 60%;
}

.social__color {
  fill: #83B3D3;
}

.phone__wrapper {
  display: flex;
  flex-basis: 391px;
  flex-wrap: wrap;
  justify-content: center;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.phone:hover,
.phone:focus-visible {
  color: #505152;
}

.phone:active {
  color: #8d8e90;
}


.logo__academy {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-decoration: none;
  background-color: #ffffff;
  outline: none;
}

.logo__academy:hover,
.logo__academy:focus-visible {
  color: #6f6864;
}

.logo__academy:active {
  color: rgba(117, 97, 87, 0.3);
}


.main__inner {
  background-image: url(../images/catalog/catalog-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 70px 70px 70px;
  min-height: 412px;
  margin-bottom: 50px;
}

.container {
  width: 1060px;
  margin: 0 auto;
}

.inner__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  margin: 0;
  display: flex;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  margin: 0;
  margin-bottom: 40px;
}

.breadcrumbs__item {
  margin-right: 10px;
}

.breadcrumbs__item-devider {
  background-image: url(../images/catalog/bread-devider.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;

}

.crumbs__link-main:hover,
.crumbs__link-main:hover {
  opacity: 60%;
}

.crumbs__link-hotels {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

.filter {
  display: flex;
  gap: 140.15px;
}

.filters__group-wrapper {
  display: flex;
  gap: 70px;
}

.filter__group {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  flex-basis: 300px;
}


.filter__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: flex-start;
}

.filter__item:last-child {
  margin: 0;
}

.filter__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  text-align: left;
}

.filter__item {
  margin-bottom: 16px;
}


.filter__control {
  line-height: 23px;
  color: #FFFFFF;
  position: relative;
  display: block;
  cursor: pointer;
  padding-left: 36px;

}

.control__mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 4px;
  background-color: #FFFFFF;
}


.control__mark-radio {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50px;
  background-color: #FFFFFF;
}


.filter__checkbox[type=checkbox]:checked + .control__mark {
  background-color: #ffffff;
  background-image: url(../images/checkbox.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.filter__checkbox:focus + .control__mark {
  border: 2px solid rgba(130, 179, 211, 1);
}

.filter__checkbox:focus + .control__mark {
  border: 2px solid rgba(130, 179, 211, 1);
}

.filter__checkbox:focus,
.filter__checkbox:focus-visible {
  outline: none;
}

.filter__item:hover {
  opacity: 80%;
}

.filter__item:active {
  opacity: 60%;
}


.filter__radio:checked + .control__mark-radio {
  background-color: #ffffff;
  background-image: url(../images/catalog/radio.svg);
  background-repeat: no-repeat;
  background-position: center;
}


.filter__radio:focus + .control__mark-radio {
  border: 2px solid rgba(130, 179, 211, 1);
}

.filter__radio:focus-visible + .control__mark-radio {
  border: 2px solid rgba(130, 179, 211, 1);
}

.filter__radio:focus,
.filter__radio:focus-visible {
  outline: none;
}

.filter__group-price {
  border: none;
  margin: 0;
  padding: 0;
}

.filter__price {
  position: relative;
  margin-bottom: 46px;
  display: flex;
  gap: 2px;
}

.price__wrapper {
  display: flex;
  margin: 0;
  margin-left: auto;
}

.price__row-min {
  width: 143px;
  height: 48px;
  border-radius: 4px 0 0 4px;
  border: none;
  cursor: pointer;
}

.price__row-min[type="number"],
.price__row-max[type="number"] {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 40px 12px 20px;
}

.price__row-min[type="number"]:focus,
.price__row-max[type="number"]:focus {
  outline: solid 3px #68A2CA;
}

.price__row-max {
  width: 143px;
  height: 48px;
  border-radius: 0 4px 4px 0;
  border: none;
  line-height: 24px;
  cursor: pointer;

}

.price__row-max:hover,
.price__row-max:focus,
.price__row-max:active,
.price__row-min:hover,
.price__row-min:focus,
.price__row-min:active {
  outline: none;
}

.price__row-max:hover,
.price__row-min:hover,
.price__row-min:focus,
.price__row-max:focus {
  background-color: #E6E6E6;
}

input[type="number"] {
  appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.minPrice {
  position: absolute;
  left: 106px;
  top: 12px;
  line-height: 24px;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
  opacity: 50%;
}

.maxPrice {
  position: absolute;
  right: 20px;
  top: 12px;
  line-height: 24px;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
  opacity: 50%;

}

.filter__range {
  position: relative;
  width: 287px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.slider__scroll-min {
  position: absolute;
  left: 0;
  top: -8px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  outline: none;
  border: none;
  border-radius: 5px;
}

.slider__active {
  display: block;
  width: 217px;
  height: 4px;
  background-color: #FFFFFF;
}

.slider__scroll-max {
  position: absolute;
  top: -8px;
  left: 206px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  outline: none;
  border: none;
  border-radius: 5px;
}

.slider__scroll-min:focus,
.slider__scroll-max:focus {
  border: 2px solid rgba(130, 179, 211, 1);
}

.filter__actions {
  display: flex;
  flex-direction: column;
}

.buttons__wrapper {
  display: flex;
  flex-direction: column;
  margin: 56px 0 0 70px;
}

.button__submit {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  padding: 8px 50px;
  margin-bottom: 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button__submit:hover,
.button__submit:focus-visible {
  background-color: #68A2CA;
  outline: none;
}

.button__submit:active {
  background-color: #68A2CA;
  opacity: 60%;
}

.button__submit:disabled {
  background-color: #a8a6a6;
  opacity: 60%;
}

.button__reset {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 8px 50px;
  border: none;
  border-radius: 4px;
  background: none;
  cursor: pointer;
}

.button__reset:hover {
  opacity: 70%;
}

.button__reset:active {
  opacity: 60%;
}

.button__reset:disabled {
  opacity: 60%;
}

.button__reset:focus-visible {
  opacity: 90%;
  outline: 3px solid rgba(130, 179, 211, 1);
}

.search__wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.search__result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  flex-basis: 338px;
  flex-wrap: wrap;
}

.select__control {
  font-family: "PT Sans", "Arial", sans-serif;
  margin-left: 200px;
  padding: 14px 130px 14px 20px;
  background-image: url(../images/catalog/view-mode/sorting-option.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  border-radius: 4px;
  border-width: 2px;
  border-color: #E5E5E5;
  font-size: 18px;
  line-height: 21px;
  appearance: none;
  cursor: pointer;
  width: 292px;
}

.select__control:hover,
.select__control:focus {
  border: solid 2px #68A2CA;
  outline: none;
}

.select__control:disabled {
  opacity: 60%;
}

.select__control:active {
  border: solid 2px #0d456b;
  outline: none;
}

.option__value {
  font-size: 18px;
  line-height: 21px;
  padding: 0;
}

.views {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-left: auto;
  flex-basis: 160px;
}

.views__option {
  background-color: #FFFFFF;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border-width: 2px;
  cursor: pointer;
}

.views__option:hover,
.views__option:active {
  border-color: #000000;
}

.views__option:focus-visible {
  outline: solid 2px #90d3ff;

}

.views__options-cards {
  background-image: url(../images/catalog/view-mode/table.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-color: #000000;
}

.views__options-one {
  background-image: url(../images/catalog/view-mode/slideshow.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid rgb(214, 213, 213);
}

.views__options-list {
  background-image: url(../images/catalog/view-mode/list.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid rgb(214, 213, 213);
}

.hotels__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style-type: none;
  border-bottom: 1px solid #e6e6e6;
  padding: 40px 0;
  margin-bottom: 40px;
}

.hotel__card {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 16px;
  column-gap: 20px;
  padding: 19px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  align-content: flex-start;
}

.hotel__card-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  text-align: left;
}

.hotel__price-name {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  margin: 0;
  text-align: left;
}

.hotel__price-value {
  margin: 0;
  text-align: right;
}

.hotel__card-link {
  grid-column: span 2;
  justify-self: center;
  text-decoration: none;
}

.hotel__card-image {
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 16px;
  object-fit: cover;
}

.hotel__item-link-heading {
  grid-column: span 2;
  text-decoration: none;
}

.hotel__item-link {
  padding: 8px 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
  outline: none;
  max-width: 140px;
}

.hotel__item-link:hover,
.hotel__item-link:focus-visible {
  background-color: #57473f;
}

.hotel__item-link:active {
  background-color: #57473f;
  opacity: 60%;
}

.hotel__item-link:disabled {
  background-color: #a8a6a6;
  opacity: 60%;
}

.hotel__item-button {
  font-family: "PT Sans", "Arial", sans-serif;
  padding: 8px 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #82b3d3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  max-width: 140px;
}

.hotel__item-button:hover,
.hotel__item-button:focus-visible {
  background-color: #69a1c6;
}

.hotel__item-button:active {
  background-color: #82B3D3;
  opacity: 60%;
}

.hotel__item-button:disabled {
  background-color: #89adc5;
  opacity: 60%;
}

.card-item-button__selected {
  background-color: #7db54f;
}

.card-item-button__selected:hover,
.card-item-button__selected:focus-visible {
  background-color: #6C9E42;
}

.card-item-button__selected:active {
  background-color: #7db54f;
  opacity: 60%;
}

.card-item-button__selected:disabled {
  background-color: #7db54f;
  opacity: 60%;
}


.hotel__item-rating {
  padding: 9px 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  background: #f2f2f2;
  border-radius: 4px;
}

.star {
  margin: 0;
  min-width: 18px;
  min-height: 18px;
  background-color: #ffffff;
  background-image: url(../images/catalog/hotels/star.svg);
  background-position: left;
  align-self: center;
}

.star-4 {
  background-repeat: space no-repeat;
  width: 89px;
}

.star-3 {
  background-repeat: space no-repeat;
  width: 68px;
}

.star-2 {
  background-repeat: space no-repeat;
  width: 44px;
}


.pagination__list {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-bottom: 60px;
}

.pagination__link {
  background-color: #82B3D3;
  text-decoration: none;
  color: #FFFFFF;
  border: 1px;
  border-radius: 4px;
  border-color: #000000;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.pagination__link:hover,
.pagination__link:focus {
  background-color: #79a7c6;
}

.pagination__link:active {

  background-color: #85a5bb;
  opacity: 80%;
}

.pagin__current {
  color: #000000;
  background-color: #F2F2F2;
  cursor: pointer;
}

.pagin__current:hover,
.pagin__current:focus,
.pagin__current:active {
  background-color: #F2F2F2;
  cursor: default;
}

.pagin__commas {
  background: none;
  border: none;
  color: #000000;
}

.pagin__commas:hover,
.pagin__commas:focus,
.pagin__commas:focus {
  background-color: #F2F2F2;

}

.modal__container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  background-color: #ffffff;
  border-radius: 40px;
  margin: auto;
  padding: 64px 70px;
  min-height: 576px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  max-width: 717px;
}


.persons {
  display: grid;
  grid-template-columns: 120px 180px 113px 110px;
  column-gap: 18px;
  text-align: left;
  align-items: center;
}

.modal__close-button {
  position: absolute;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  background-image: url(../images/cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  right: 52px;
  z-index: 2;
}

.modal__close-button:hover {
  background-color: #E6E6E6;
  border: none;
}

.modal__close-button:focus-visible {
  background-color: #E6E6E6;
  border: 3px solid #83B3D3;
}

.modal__close-button:active {
  opacity: 50%;
}

.modal-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
  margin-bottom: 64px;
  position: relative;
}

.label__check-inn {
  margin-right: 20px;
}

.label__check-out {
  margin-right: 15px;
}

.modal-form-field {
  position: relative;
  font-family: "PT Sans", "Arial", sans-serif;
  width: 440px;
  height: 48px;
  border-radius: 4px;
  border: none;
  background-color: #f2f2f2;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 50px 12px 20px;
  background-image: url(../images/calendar.svg);
  background-repeat: no-repeat;
  background-position: 97% center;
  cursor: pointer;
}

.modal-form-field:hover {
  opacity: 80%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.button__modal {
  font-family: "PT Sans", "Arial", sans-serif;
  width: 577px;
  min-height: 60px;
  background-color: #83b3d3;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 48px;
}

.field-group {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.modal-label {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.input-control-wrapper {
  background-color: #f2f2f2;
  width: 110px;
  border-radius: 4px;
}

.label-control-adults {
  grid-column: 1 / 2;
  align-self: center;
}

.input-control-child {
  grid-column: 4 / 5;
}

.label-control-child {
  grid-column: 3 / 4;
  position: relative;
  top: 64%;
}

.info__check-out,
.info__check-inn {
  margin: 0;
  margin-bottom: 23px;
  font-size: 16px;
  margin-left: 157px;
  text-align: left;
  font-weight: 400;
}

.info__check-inn {
  color: rgba(255, 87, 87, 1);
}

.input-adults-wrapper {
  position: relative;
}

.tooltip {
  position: relative;
  margin-left: 46px;
  top: 3px;
}

.tooltip-info {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  display: block;
  cursor: pointer;
  position: absolute;
  top: -3px;
  left: -18px;
}

.tooltip-info:hover {
  opacity: 0.8;
}

.tooltip__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #333333;
  width: 256px;
  min-height: 143px;
  border-radius: 10px;
  padding: 15px 18px 18px 22px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  margin-top: 15px;
  display: none;
}

.tooltip__text::after {
  content: "";
  position: absolute;
  background-image: url("../images/triangle.svg");
  background-repeat: no-repeat;
  width: 19px;
  height: 9px;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.tooltip-info:hover + .tooltip__text,
.tooltip-info:focus + .tooltip__text {
  display: block;
}

.button-counter {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  bottom: -3px;
}


.button-counter:hover path {
  fill: #000000;
  fill-opacity: 1;
}

.button-counter:active path {
  fill: rgba(117, 97, 87, 0.3);
}

.button-counter:focus-visible {
  outline: 3px solid #82b3d3;
}

.input-control {
  font-family: "PT Sans", "Arial", sans-serif;
  width: 35px;
  height: 48px;
  border-radius: 4px;
  background-color: #f2f2f2;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.input-control:focus {
  outline: 2px solid #82b3d3;
}

.input-control:hover {
  background-color: #e6e6e6;
}

.button__modal:hover,
.button__modal:focus-visible {
  background-color: #68a2ca;
}

.button__modal:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button__modal:disabled {
  background-color: #e5e5e5;
  color: #ffffff
}

.button__modal:focus-visible {
  outline: none;
}

.hidden {
  display: none;
}
